<div class="hero-unit" style="position:absolute;top:120px;left:4in;width:auto;">
	<% @people.each do |person| %>
		<div id = "kutu" style = "background-color:#485680;width:6.2in;height:auto;">
			<% if current_user %>
				<b style="color:white;text-transform:uppercase;position:relative;top:10px;left:20px;font-size:18px;"><%=person.name %> :</b> <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }, style: "color:white;float:right", class: "btn btn-danger" %>
			<% else %>
				<b style="color:white;text-transform:uppercase;position:relative;top:10px;left:20px;font-size:18px;"><%=person.name %> :</b>
			<% end %>
			<br><br><p style="color:white;text-transform:capitalize;position:relative;left:20px;font-size:15px;padding-right:50px;"> <%= person.message %> </p><br>
			
		</div><br><br>
	<% end %>
</div><br><br><br><br>
